body {
    background-color: #d6e2f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.container {
background-color: white;
width: 320px;
padding: 16px;
border-radius: 15px;
text-align: center;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.container img {
width: 100%;
border-radius: 10px;
}

.container h1 {
font-size: 20px;
margin: 20px 0 10px;
color: #1f3251;
}

.container p {
  font-size: 14px;
  color: #7b879d;
}